@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Product

<link rel="stylesheet" href="~/css/Products.css" />
<body>
    <div class="container">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-6 col-md-2 mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="@Model.ImgLink" alt="Product Image" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">@Model.Name</h5>
                            <!-- Product price-->
                            $@Model.Price
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-dark mt-auto add-to-cart-btn" data-item-id="@Model.ProductId">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/site.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.add-to-cart-btn').forEach(button => {
                button.addEventListener('click', function (e) {
                    e.preventDefault();
                    const itemId = this.getAttribute('data-item-id');
                    fetch(`/Home/AddToCart?productID=${itemId}`, { method: 'POST' })
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById('cart-quantity').innerText = data.cartItemCount;
                        })
                        .catch(error => console.error('Error adding item:', error));

                });
            });
        });
    </script>
</body>