@{
    ViewData["Title"] = "Order Confirmation";
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5">
        <h2>
            Thank you for your order! We're currently reviewing your details to ensure everything is in tip-top shape for a seamless delivery.
        </h2>
        <p> No further action is needed from you, but we'll reach out if there's anything we need to finalize your order.</p>
    </div>
</body>
