@{
    ViewData["Title"] = "Order Confirmation";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5">
        <h2>Thank you for placing your order with us!</h2>
        <p>We're thrilled to have the opportunity to serve you. We'll get that to you as soon as we can! Happy building!</p>
    </div>
</body>
